---
import HeaderSmall from "../components/HeaderSmall.astro";
import BackgroundVid from "../components/BackgroundVid.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sissies-Contact</title>
  </head>
  <body class="bg-black">
    <!-- <canvas id="canvas" class="fixed w-full h-full" ></canvas> -->
    <header><HeaderSmall /></header>
    <main>
      <BackgroundVid/>
      <section
        class="comment bg-[rgba(0,0,0,0.7)] text-white p-2 rounded-lg mt-40 w-[60%] mr-auto ml-auto md:w-1/2 lg:w-1/3"
      >
        <form action="https://formspree.io/f/mblrjyda" method="post" class="flex flex-col gap-2">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            placeholder="John Sacklinski"
            id="name"
            required
          />
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="john@sacklinski.com"
            required
          />
          <label for="text">comment</label>
          <textarea name="text" id="text" rows="5" cols="45"></textarea>
          <label for="newsletter"
            >Newsletter
            <input type="checkbox" name="newsletter" id="newsletter" />
          </label>

          <button type="submit">send</button>
        </form>
      </section>
    </main>
    <footer>
        <h1 class="fixed text-white font-bold bottom-2 left-2"> <a href="/releases">Releases</a></h1>
<h1 class="fixed text-white font-bold bottom-2 right-2"> <a href="/gal">Gallery</a></h1>
    </footer>
    <!-- <script src="../scripts/canvas.js"></script> -->
  </body>
</html>
<style>
  input,
  textarea {
    background: none;
    border-bottom: 2px solid white;
  }
</style>
