---
import Gallery from "../components/Gallery.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gallery</title>
	</head>
	<body class="bg-black">
		<header>
			<h1>Gallery</h1>
		</header>
		<main>
			<Gallery />
		</main>
		
	</body>
</html>

