---
import Header from "../components/Header.astro";
import News from "../components/News.astro";
import Dates from "../components/Dates.astro";
import Releases from "../components/disko.astro";
import Footer from "../components/Footer.astro";
import NewAlbum from "../components/NewAlbum.astro";

import "../css/style.css";
import BurgerSvg from "../components/BurgerSvg.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/cockroach.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    
    <title>Sissies</title>
  </head>
  <body>
    <header>
      <Header />
      <!-- <BurgerSvg /> -->
      
    </header>
    <main class="grid grid-cols-1 md:grid-cols-[33%,1fr] ">
      <section class="new-album md:col-start-2 md:row-start-1 ">
        <NewAlbum />
        
      </section>
      
      <section class="news md:row-span-3 col-start-1">
        <News />
      </section>
      <section class="dates">
        <Dates />
      </section>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
