---
import Disko from "../components/disko.astro";

import HeaderSmall from "../components/HeaderSmall.astro";

import BackgroundVid from "../components/BackgroundVid.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sissies-Releases</title>
	</head>
    <body class="bg-black">
        <header>
            <HeaderSmall/>
        </header>
        <main>
            <BackgroundVid/>
           
            <Disko/>
            <h1 class="fixed text-white font-bold bottom-4 left-4"> <a href="/gal">Gallery</a></h1>
            <h1 class="fixed text-white font-bold bottom-4 right-4"> <a href="/contact">Contact</a></h1>
        </main>
        <footer></footer>
    </body>
</html>