---
import Disko from "../components/disko.astro";
import logo from "../assets/img/logo.jpg";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gallery</title>
	</head>
    <body class="bg-black">
        <header>
            <div class="py-2 z-50 fixed left-0 right-0 top-0 h-28 bg-black flex justify-between px-4 items-center">
                <img src={logo.src} alt="" class="h-full ">
                <a href="/" class="text-white text-xl">Main</a>
            </div>
            <a href="/">Main</a>
        </header>
        <main>
            <Disko/>
        </main>
        <footer></footer>
    </body>
</html>