---
import cockroachVid from "../assets/cockroach-gray.mp4"
---

<section class="background">
    <video playsinline autoplay loop muted class="-z-10 scale-[8] fixed" src={cockroachVid}></video>
  </section>