<span id="dates" class="relative -top-32"></span>
<div class="flex flex-col items-center">
    <h1>Dates</h1>
<h2>fr.29.11.2024 Wolfsburg</h2>
<h2>sa.30.11.2024 Hannover</h2>
<style>
    h1,h2 {
        color:white;
        font-weight:bold;
        padding:0 2rem;
    }
    h1{
        font-size:2.2rem;
       margin:1rem;
       text-decoration: underline;
    }
    h2{
        font-size:1.9rem;
    }
</style>
</div>


