---
import logo from "../assets/img/logo.jpg"
import "../css/fonts.css"
---

    <div class="fixed left-0 right-0 top-0 h-24 bg-black flex justify-between px-4">
        <img src={logo.src} alt="" class="h-full ">
        <ul class="hidden text-white md:flex justify-evenly gap-3 items-center font-black font-['bebas']">
            <li><a href="/gal">Gallery</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Releases</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <label class="md:hidden flex flex-col justify-center items-center relative">
            <input 
            class="peer hidden"
            type="checkbox">
            <svg  class="text-white w-6 h-6" viewBox="0 0 448 512"><path fill="currentColor"
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
            <div class="nav transition-all duration-1000 ease-in-out w-24  bg-white flex flex-col absolute top-20 right-[-8rem] peer-checked:right-0">
                <a href="/gal">Gallery</a>
                <a href="#">Media</a>
                <a href="#">Releases</a>
                <a href="#">Contact</a>
            </div>
            </label>
        </div>
        <style>
            .nav {
                padding: 0.5rem;
                text-align: right;
                background-color:#e3e3e3;
            }
            a {
                
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              
                
               
                font-weight:500;
                border-bottom:1px solid black;
            }
            a:hover{
                font-weight: 900;
                border-bottom:2px solid black;
            }
        </style>
    
