---
import logo from "../assets/img/logo.jpg"
---
<div class="py-2 z-50 fixed left-0 right-0 top-0 h-20 bg-black flex justify-between px-4 items-center">
    <img src={logo.src} alt="" class="h-full ">
    <a href="/" class="text-white text-lg font-bold">Main</a>
</div>
<a href="/">Main</a>