---
const { pic } = Astro.props;
import {getImage} from "astro:assets";

const optimizedBackgroundImage = await getImage({src:pic})

---


  <label>
    <div style={`background-image: url('${optimizedBackgroundImage.src}');`} class="border border-green-700 rounded-lg hover:scale-110 bg-cover bg-center aspect-square w-full rounded-x4"></div>
    <input type="checkbox" name="" id="" class="peer hidden"/>
    
    <img src={pic.src} alt="" class="fixed hidden peer-checked:block inset-0 max-w-full max-h-full object-contain peer-checked:w-full"/>
     
  </label>
</div>
