<span id="news" class="relative -top-36"></span>
<h1 class="flex justify-center text-4xl text-white font-bold center">News</h1>
<div>
  Im neuen OxFanzine ein sackstarkes Interview mit uns Nico / SISSIES!!<br />
  <a href="https://www.facebook.com/OxFanzine" target="_blank">OX.</a>
</div>
<div>
  Da tanzt die Küchenschabe nicht nur in der durchgefeierten WG-Küche, sondern
  gewöhnt sich auch noch das breitbeinige Headbangen an. Sissies aus Hamburg,
  nicht zu verwechseln mit „The Sissies“ aus Bloomington, legen mit „Cockroach
  Swing“ ein derbe abgehendes Album vor. Die Band bezeichnet ihren Stil als
  Doompunk, ich würde es als räudigen Hardrock mit Streetpunk Attitüde
  wegsortieren. Aber bevor der Tonträger ins Regal wandert, sollte die geneigte
  Hörerschaft ein Ohr riskieren.<br />
  <a
    href="https://brutstatt.de/2024/05/13/sissies-cockroach-swing-album-review/"
    target="_blank">brutstatt.</a
  >
</div>
<div>
  Wie geil ist das denn? Und warum kenn ich die nicht??? Das waren die ersten
  fragenden Gedanken in meinen Hirnschleifen unmittelbar beim ersten Hören der
  Klänge eines fulminant rockenden Quintetts aus Hamburg… <br />
  <a
    href="http://www.pandys-corner.de/sissiescockroac-de-5064.html"
    target="_blank">pandys corner.</a
  >
</div>
<div>
  „One, Two, Three, Four“ wird angezählt und dann startet das Album mit einem
  dumpfen Grollen. Die Riffs sind über das ganze Album sehr mächtig und haben
  Parallelen zu Doom und Stoner Rock. Aber es ist irgendwie immer auch Punk. Die
  Band mag älter geworden sein, aber die Wut und Energie sind noch in großem
  Maße vorhanden. Tonnenschwere Riffs und Gesang, der über die üblichen
  Klischees hinausgeht und der Platte zusätzlich Gehör verschafft... <br />
  <a
    href="https://www.saitenkult.de/2024/05/14/sissies-cockroach-swing/"
    target="_blank">saitenkult.de.</a
  >
</div>
<div>
  "Nach 20 Jahren präsentieren die Sissies mit 'Cockroach Swing' ein Album, das
  die Essenz ihres Sounds einfängt. Mit griffigen Riffs, Doom-Anleihen und einem
  zwinkernden Auge zeigen sie, wie zeitloser Rock klingt."<br />
  <a
    href="https://amplified-mag.de/reviews/sissies-cockroach-swing-kompromissloser-rock-fuer-die-plattensammlung"
    target="_blank">AMPLIFIED-MAG.DE.</a
  >
</div>
<div>
  "Das geht dann ordentlich auf die Zwölf (Cockroach Swing, Black) und straight
  in die Fresse (Bloodlust), bedient aber auch die Kopfnicker-Fraktion (No
  Peguntas. Protest) und Black Sabbath-Jünger (5 Reasons)."<br />
  <a
    href="https://www.hooked-on-music.de/review/sissies-cockroach-swing/15844"
    target="_blank">HOOKED-ON-MUSIC.DE.</a
  >
</div>
<div>
  “Cockroach Swing” ist eine Art musikalischer Altar, eine Ode an Gitarren und
  groben Rock, der in den letzten Jahrzehnten schrittweise erschaffen wurde. Die
  Platte schielt null nach Trends, gibt nichts auf dezente Referenzen und
  schafft genau damit doch wieder etwas Neues.“<br />
  <a href="https://krachfink.de/sissies-cockroach-swing-review/" target="_blank"
    >KRACHFINK.DE.</a
  >
</div>
<div>
  "In den gut sechsunddreißig Minuten Gesamtspielzeit sorgen die Sissies für
  verdammt viel Alarm und die Punk-Power ist schier unerschöpflich. Von Beginn
  bis Ende wird Energie ausgeschüttet. Die Gitarren riffen kompetent, als wenn
  es kein Morgen mehr gäbe. Der Sänger fügt sich mit seiner ausdrucksstarken
  Stimme problemlos in das phasenweise turbulente Treiben ein."<br />
  <a
    href="https://www.rocktimes.info/sissies-cockroach-swing-cd-review//"
    target="_blank">RockTimes.</a
  >
</div>
<div>
  "....und was soll ich sagen, das Ding knallt von der ersten bis zur letzten
  Sekunde."<br />
  <a
    href="http://www.er-em-online.de/2024/04/28/review/audio/cockroach-swing/"
    target="_blank">er-em-online.de.</a
  >
</div>
<div>
  „Diese unverhoffte Rückkehr macht von der ersten bis zur letzten Sekunde
  richtig Laune und erhält hoffentlich eine Fortsetzung.“<br />
  <a
    href="https://www.beatblogger.de/2024/04/sissies-cockroach-swing/"
    target="_blank">BEATBLOGGER.</a
  >
</div>
<div>
  ...."mit dem titelgebenden Opener „Cockroach Swing“ lassen es die Herren
  düster krachen, ehe „Bloodlust“ straight übernimmt und „Bruce Lee ihm sein
  Grab“ ebenso wie „Nicht lang Fackeln im Sturm“ und „Nordsee“ bewusst auf
  deutschsprachige Texte setzt, um den authentischen Inhalt möglichst greifbar
  zu machen. Derweil fressen sich „No Preguntas“ und „Protest“ in stoischer
  Abgeklärtheit ins Hirn, ehe „She Junk of The Week“ Tempo macht und „Black“ den
  Kopf zum Nicken bringt, um sc…<br />
  <a
    href="https://www.terrorverlag.com/rezensionen/sissies/cockroach-swing/"
    target="_blank">TERRORVERLAG.COM.</a>
</div>
<div>
  „....und herausgekommen ist ein lautes, unabhängiges Album, Punk’n’Roll,
  alternativ, heavy. Mal punkig, mal retrorockig im 70er Stil, aber immer
  energiegeladen und abwechslungsreich.<br />
  <a 
    href="https://whiskey-soda.de/sissies-cockroach-swing/139598/"
    target="_blank">WHISKEY-SODA.DE.</a>
</div>
<style>
    div {
        margin:2rem;
        padding:0.8rem;
        border-bottom:2px solid white;
        border-left:2px solid white;;
        border-radius: 0rem;
        background-color:rgba(0, 0, 0, 0.815);
        color:white;
        font-weight:500;

    }
</style>