html {
    
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("../assets/img/Background.jpg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
    background-color:black;
}
header {
    
    margin-bottom: 6rem;
}
main {
    
    padding:1rem;
}